<p>Works:</p>
<mat-form-field>
    <mat-label>Label</mat-label>
    <mat-select>
        <mat-option disabled>
            <input matInput placeholder="Search">
        </mat-option>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
    </mat-select>
</mat-form-field>

<p>Works:</p>
<mat-form-field>
    <mat-label></mat-label>
    <mat-select>
        <mat-option disabled>
            <input matInput placeholder="Search">
        </mat-option>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
    </mat-select>
</mat-form-field>

<p>Does not work:</p>
<mat-form-field>
    <mat-select>
        <mat-option disabled>
            <input matInput placeholder="Search">
        </mat-option>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
    </mat-select>
</mat-form-field>
<router-outlet></router-outlet>
